.container {
    width: 80%;
    display: flex;
    gap: 10rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0 auto;
    margin-top: 12rem;
}

.container img {
    zoom: 0.3;
}

@media screen and (max-width: 40em) {
    .container {
        gap: 12rem;
        padding-left: 2rem;
        justify-content: center;
        align-items: center;
        padding-right: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 16rem;
    }

    .container img {
        zoom: 0.25;
        margin: 0 auto;
        align-self: center;
    }
}
