.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15rem;
    padding-left: 15rem;
    padding-right: 15rem;
    margin-top: 10rem;
    gap: 20rem;
}

@media screen and (max-width: 90em) {
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media screen and (max-width: 40em) {
    .container {
        grid-template-columns: 1fr;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 10rem;
    }
}
