.container {
    display: flex;
    flex-direction: column;
    padding-top: 16rem;
}

.marquee {
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 8rem;
}

.marquee h3 {
    font-family: 'MottoSTD';
    font-size: 8rem;
}

.description {
    width: 70%;
    padding-left: 15rem;
    padding-right: 15rem;
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin-top: 10rem;
}

@media screen and (max-width: 90em) {
    .description {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media screen and (max-width: 40em) {
    .description {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        text-align: center;
        margin-bottom: 6rem;
    }
}
